node_modules/
dist/
data/
.tools/
.gcloud-config/
.secrets/
.env
.env.local
.DS_Store
npm-debug.log*

# Local Netlify folder
.netlify

# Playwright
e2e-results/
e2e-report/
playwright-report/
test-results/
